# IBM Appsody Client
appsody_version: "0.5.9"
appsody_url: "https://github.com/appsody/appsody/releases/download/{{ appsody_version }}/appsody-{{ appsody_version }}-1.x86_64.rpm"

# Red Hat ODO
odo_url: "https://mirror.openshift.com/pub/openshift-v4/clients/odo/latest/odo-linux-amd64"

# Google IstioCTL
istio_version: "1.4.5"
istio_url: "https://github.com/istio/istio/releases/download/{{ istio_version }}/istioctl-{{ istio_version }}-linux.tar.gz"

# Tekton
tekton_version: "0.8.0"
tekton_url: "https://github.com/tektoncd/cli/releases/download/v{{ tekton_version }}/tkn_{{ tekton_version }}_Linux_x86_64.tar.gz"

# CoreOS ETCD CTL
etcd_version: "3.4.6"
etcd_url: "https://github.com/etcd-io/etcd/releases/download/v{{ etcd_version }}/etcd-v{{ etcd_version }}-linux-amd64.tar.gz"

# Knative Client
knative_version: "v0.12.0"
knative_url: "https://github.com/knative/client/releases/download/{{ knative_version }}/kn-linux-amd64"

# Apache Maven
maven_version: "3.6.3"
maven_url: "https://downloads.apache.org/maven/maven-3/{{ maven_version }}/binaries/apache-maven-{{ maven_version }}-bin.tar.gz"

# Oracle Java 8
java8_version: "8u241"
java8_uniqueid: "1f5b5a70bf22433b84d0e960903adac8"
java8_url: "http://download.oracle.com/otn-pub/java/jdk/{{ java8_version }}-b07/{{ java8_uniqueid }}/jdk-{{ java8_version }}-linux-x64.tar.gz"

# Go Language
go_version: "1.14.1"
go_url: "https://dl.google.com/go/go{{ go_version }}.linux-amd64.tar.gz"

